$primaryInputBackground: #f0efef;
$primaryInputBorder: #ccd0d5;

.post-comment {
  display: flex;
  // align-items: center;

  padding: .5em;

  .image-container {
    .image {
      height: 2.3em;
      width: 2.3em;
    }

    margin:0 .5em;
  }

  .input-container {
    display: flex;
    align-items: center;
    // justify-content: space-between;

    width: 100%;



    .input-quill {
      border-radius: 1rem;
      padding: .2em;
      width: 100%;
      background-color: $primaryInputBackground;
      border: 1px solid $primaryInputBorder;

      .quill {
        border: none;
        outline: none;
        background-color: transparent;
        padding: .3rem;

        .ql-tooltip {
          .ql-toolbar {
            width: 30em;
          }
        }

        .ql-bubble {
          .ql-editor {
            padding: .2em;
          }
        }
      }

    }

    .send-button {
      border: none;
      background-color: transparent;
      outline: none;
      align-self: baseline;
      margin: .3em;

      .send-image {
        // border-radius: 50%;
        // background-color: #192965;
        cursor: pointer;
        // border: 1px solid black;
        padding: .3em;
        height: 2em;
        width: 2em;
      }
    }
  }
}