$primaryInputBackground: #f2f3f5;
$primaryInputBorder: #ccd0d5;

.post-comment {
  display: flex;
  align-items: center;

  padding: .5em;

  .image-container {
    .image {
      height: 2.3em;
      width: 2.3em;
    }

    margin:0 .5em;
  }

  .input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $primaryInputBorder;
    width: 100%;
    border-radius: 1rem;
    height: 2rem;
    padding: 0 .3rem;
    background-color: $primaryInputBackground;


    .input {
      width: 100%;
      border: none;
      height: 1.8em;
      outline: none;
      background-color: transparent
    }

    .send-button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      outline: none;

      .send-image {
        height: 1.5em;
        width: 1.5em;
      }
    }
  }
}