$primaryBackground: #edf7fa;
$primaryProfileName:#385898;
$optionBackground:#4266b2;
$primaryInputBorder: #ccd0d5;

.comment {
  display: flex;
  align-items: center;
  padding: .5em;
  box-sizing: border-box;
  font-size: 1em;

  .image-container {
    .image {
      height: 2.3em;
      width: 2.3em;
    }
  }

  .context-container {
    padding: .5em;
    border-radius: .5em;
    margin: 0 .5em;
    background-color: $primaryBackground;

    p,
    ul {
      margin: 0
    }

    .name {
      a {
        text-decoration: none;
        color: $primaryProfileName;

        &:hover {
          text-decoration: underline;
        }
      }

      font-weight: bold;
      margin-right: .5em;
    }

    &:hover {
      .options-container {

        visibility: visible;
      }
    }
  }

  .options-container {
    // visibility: hidden;

    .options-description {
      position: absolute;
      border: 1px solid black;
      visibility: hidden;
    }

    .options-icon {
      opacity: .5;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }

    .options-icon:hover .options-description {
      visibility: visible;
    }

    .options {
      position: absolute;
      background-color: white;
      border: 1px solid $primaryInputBorder;


      .option {

        cursor: pointer;
        font-size: .8em;
        padding: .1em .5em;

        &:hover {
          background-color: $optionBackground;
          color: white;
        }
      }

    }
  }

}