$optionBackground:#4266b2;
$primaryInputBorder: #ccd0d5;
$name:#385898;



.comment-container {
  display: flex;
  padding: 5px;

  .image-container {
    .image {
      border-radius: 50%;
      height: 32px;
      width: 32px;
    }
  }

  .comment {
    display: flex;
    flex-direction: column;
    margin: 0 3px;
    padding-top: 0;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 10px;
    background-color: #e3e3e3;
    border-radius: 16px;
    border-top-left-radius: 0;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 8px 0;

      .info {
        display: flex;
        align-items: center;

        .name {
          a {
            color: $name;
            text-decoration: none;
            font-weight: bold;
            text-transform: capitalize;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .options-container {

        cursor: pointer;
        font-size: 15px;

        .options-icon {
          transform: rotate(90deg);
          margin: 0 8px;
        }

        .options {
          position: absolute;
          border: 1px solid $primaryInputBorder;
          background-color: white;

          .option {
            cursor: pointer;
            font-size: 12px;
            padding: 3px 5px;

            &:hover {
              background-color: $optionBackground;
              color: white;
            }
          }
        }
      }
    }

    .comment-text {

      h1,
      h2,
      p,
      ul,
      ol {
        margin: 0
      }

    }
  }
}