.comment {
  border: 1px solid black;
  display: flex;
  align-items: center;
  padding: .5em;
  box-sizing: border-box;


  .image-container {
    .image {
      height: 2.3em;
      width: 2.3em;
    }
  }

  &:hover {
    .options-container {
      visibility: visible;
    }
  }

  .context-container {
    border: 1px solid black;
    padding: .5em;
    border-radius: 2em;
    margin: 0 .5em;

    .name {
      font-weight: bold;
      margin-right: .5em;
    }


  }

  .options-container {
    // visibility: hidden;
    font-size: 1.2em;
    cursor: pointer;
    opacity: .5;

    .options {
      font-size: .5em;
      border: 1px solid black;
    }

    &:hover {
      opacity: 1;
    }
  }


}