$primaryBackground: #faf5e4;
$primaryInputBorder: #ccd0d5;

.comments-container {
  width: 30em;
  border: 1px solid $primaryInputBorder;
  // background-color: $primaryBackground;

  .loader {
    text-align: center;
    padding: 1em 0;
  }
}