$primaryInputBackground: #f2f3f5;
$primaryInputBorder: #ccd0d5;

.comments-container {
  width: 30em;
  border: 1px solid $primaryInputBorder;

  .loader {
    text-align: center;
    padding: 1em 0;
  }
}