$colorPrimary: #5158cf;
$colorPrimaryDrak: #2618fc;
$colorPrimaryLight: "";
$colorSecondary: "";
$colorSecondaryDark: "";
$colorSecondaryLight: "";
$colorWhite: #fff;
$colorGrey: #676773;
$colorGreyDark: #333340;
$colorGreyLight: #bfbfbf;
$colorGreyLight2: #d4d4d4;
$colorGreyLight3: #e5e5e5;
$colorGreyLight4: #ededed;
$colorGreyLight5: #f2f2f2;
$colorError: #d32f2f;
$colorRedLight: #f06024;
$colorRedDark: #fd2e10;

$headingPrimary: 24px;
$headingSecondary: 18px;
$headingSmall: 16px;

$borderRadius: 4px;
$borderRadiusMedium: 6px;
$borderRadiusLarge: 8px;
$borderRadiusCircle: 100px;

$boxShadowLight: 1px 1px 10px 1px #f4f2f2;
$boxShadowDark: 0 20px 60px rgba(0, 0, 0, 0.3);

$BP_LARGEST: 75em; // 1200px because 1200/16 = 75;
$BP_LARGE: 68.75em; // 1100px because 1100/16 = 68.75;
$BP_MEDIUM: 56.25em; // 900px because 900/16 = 56.25;
$BP_SMALL: 37.5em; // 600px because 600/16 = 37.5;
$BP_SMALLEST: 31.25em; // 600px because 500/16 = 31.25;
